<% content_for :description do %>Estamos creando un repositorio centralizado desde donde se pueden acceder a los datos comunes que
    los developers necesitamos cuando estamos desarrollando nuestras aplicaciones.<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<span class="main_data">data.</span> <br>
<span class="main_title">developers.do</span>
<br>
<br>
<br>

<span class="faq_q">&iquest;Qué estamos haciendo?</span><br>
<span class="muted">Estamos creando un repositorio centralizado desde donde se pueden acceder a los datos comunes que
    los developers necesitamos cuando estamos desarrollando nuestras aplicaciones.</span>
<br><br>
<span class="faq_q">&iquest;Qué tipo de data tendrán?</span><br>
<span class="muted">Algunos ejemplos:</span>
<ul class="muted">
  <li>Provincias, municipios, sectores</li>
  <li>RNCs - desde el archivo de la DGII</li>
  <li>Codigos postales</li>
</ul>
<br>
<span class="faq_q">&iquest;Qué tipo de data <strong>NO</strong> tendrán?</span><br>
<span class="muted">No manejaremos data de caracter confidencial.</span>
<br><br>
<span class="faq_q">&iquest;Como puedo ayudar?</span><br>
<span class="muted">En esta <strong>primera etapa</strong> solo estamos recibiendo aportes monetarios para ser usados en:</span>
<ul class="muted">
  <li>Pago del Hosting</li>
  <li>Pizza, redbull</li>
  <li>Otros gastos misceláneos</li>
</ul>
<span class="muted">Para realizar su aporte pude comunicarse via twitter con @DevelopersDO o directamente con uno de los organizadores.</span><br><br>
<span class="muted">En una <strong>segunda etapa</strong> estaremos ampliando y podrán contribuir:</span>
<ul class="muted">
  <li>Nuevos API</li>
  <li>Codigo fuente</li>
  <li>Ejemplos de como consumir los API</li>
  <li>Documentación</li>
</ul>
<br>
<span class="faq_q">&iquest;Por qué debo ayudar?</span><br>
<span class="muted">Sencillo, esto es un esfuerzo conjunto de todos, aqui nadie esta haciendo esto para ganar dinero, mientras mas personas aporten mas lejos podemos llegar.</span>
<br><br>
<span class="faq_q">&iquest;Quiénes somos?</span><br>
<span class="muted">Las personas que hasta el momento han contribuido al proyecto son:</span>
<ul class="muted">
  <li><a target="_blank" href="https://twitter.com/HectorMinaya">@HectorMinaya</a> - organizador/contribuyente</li>
  <li><a target="_blank" href="https://twitter.com/amhedH">@amhedH</a> - organizador/contribuyente</li>
  <li><a target="_blank" href="https://twitter.com/rene_olivo">@rene_olivo</a> - organizador/contribuyente</li>
  <li><a target="_blank" href="https://twitter.com/JGTaveras">@JGTaveras</a> - contribuyente</li>
  <li><a target="_blank" href="https://www.facebook.com/jhonatas">jhonatas</a> - contribuyente</li>
  <li><a target="_blank" href="https://twitter.com/scairon">@scairon</a> - contribuyente</li>
  <li><a target="_blank" href="https://twitter.com/ClaudioASanchez">@ClaudioASanchez</a> - contribuyente</li>
</ul>
<br>
<span class="faq_q">&iquest;Sera un proyecto OpenSource?</span><br>
<span class="muted">Si, desde el inicio. El repositorio esta en <a target="_blank" href="https://github.com/developersdo/data.developers.do">https://github.com/developersdo/data.developers.do</a>,
  pero no estaremos aceptando pull requests hasta la segunda fase del proyecto.</span>
<br><br>
<span class="faq_q">&iquest;Cuándo estará lista la primera etapa?</span><br>
<span class="muted">Pronto.....</span>
<br><br>

<div id="example5">
  <div id="shareme" data-url="http://data.developers.do/" data-text="Apoya este proeycto"></div>
</div>
<script>
    $('#shareme').sharrre({
        share: {
            googlePlus: true,
            facebook: true,
            twitter: true,
            digg: false,
            delicious: false,
            stumbleupon: false,
            linkedin: true,
            pinterest: false
        },
        buttons: {
            googlePlus: {size: 'tall', annotation:'bubble'},
            facebook: {layout: 'box_count'},
            twitter: {count: 'vertical'},
            digg: {type: 'DiggMedium'},
            delicious: {size: 'tall'},
            stumbleupon: {layout: '5'},
            linkedin: {counter: 'top'},
            pinterest: {media: 'http://sharrre.com/img/example1.png', description: $('#shareme').data('text'), layout: 'vertical'}
        },
        enableHover: false,
        enableCounter: false,
        enableTracking: true
    });
</script>
<style type="text/css">
    #example5{
        float:left;
        margin:68px 25% 0 25%;
    }
    .sharrre .button{
        float:left;
        width:60px;
    }
</style>