development:
  adapter: postgresql
  encoding: unicode
  database: data_developers_do_development
  pool: 5

test:
  adapter: postgresql
  encoding: unicode
  database: data_developers_do_test
  pool: 5

production:
  adapter: postgresql
  encoding: unicode
  database: <%= ENV['PG_DB'] %>
  username: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASS'] %>
