<ul class="nav nav-pills pull-right">
  <li><%= link_to "Inicio", root_path, :class => '' %></li>
  <li><a href="#">Documentación</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a target="_blank" href="http://twitter.com/DevelopersDO">Twitter</a></li>
  <li><a target="_blank" href="http://www.developers.do">Blog</a></li>
  <li><a target="_blank" href="http://twitter.com/DevelopersDO">Ayudar</a></li>
</ul>
